[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
pytest = "*"
leaguepedia-parser = "*"
riotwatcher = "*"
tqdm = "*"
tensorflow = "*"
luigi = "*"
plotly-express = "*"
dash = "*"
google-cloud-bigquery = "*"
pyarrow = "*"

[requires]
python_version = "3.8"
